<header class="container-fluid">
    <nav class="header row justify-content-end align-items-center">
        <button class="btn-mobile-nav col-6 col-sm-6 col-md-4">
            <i data-feather="align-justify" class="icon-mobile-nav" name="menu-outline"></i>
            <i data-feather="x" class="icon-mobile-nav mx-auto" name="close-outline"></i>
        </button>
        <div class="nav-bar col-6 col-sm-6 col-md-4">
            <ul class="list-inline d-flex my-auto justify-content-between">
                <li class="list-inline-item">Home</li>
                <li class="list-inline-item">Shop</li>
                <li class="list-inline-item">About</li>
                <li class="list-inline-item">Contact</li>
            </ul>
        </div>
        <ul class="list-inline col-6 col-sm-6 col-md-4 d-flex my-auto justify-content-evenly">
            <li class="list-inline-item"><i class="fa-regular fa-user fa-xl"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-magnifying-glass fa-xl"></i></li>
            <li class="list-inline-item"><i class="fa-regular fa-heart fa-xl"></i></li>
            <li class="list-inline-item"><i data-feather="shopping-cart"></i></li>
        </ul>
    </nav>
</header>