<div class="container-edit" id="container">
    <div class="form-container-edit edit-container">
        <form action="#">
            <input type="Product Name" placeholder="Product Name" />
            <input type="Product Description" placeholder="Product Description" />
            <input type="Price" placeholder="Price" />
            <input type="Add Image URL" placeholder="Add Image URL" />
            <button>Update Product</button>
        </form>
    </div>

    <div class="overlay-container-edit">
        <div class="overlay-add">
            <div class="overlay-panel overlay-right">
                <h1>Hello Seller!</h1>
                Enter the product information
            </div>
        </div>
    </div>
</div>
<script rel="jsvascript" href="../../../assets/js/add-product.js"></script>