<div class="container-edit" id="container">
    <div class="form-container-edit edit-container">
        <form action="post"  [formGroup]="AddForm" (ngSubmit)="addProduct()">
            <input name="name" placeholder="Product Name"  formControlName="name" class="form-control"/>
            <input name="price" type="number" placeholder="Price"  formControlName="price" class="form-control"/>
            <input name="quantity" type="number"  placeholder="quantity"  formControlName="quantity" class="form-control"/>
            <input name="image" type="file" placeholder="Add Image"  formControlName="image" class="form-control"/>
            <input name="description" placeholder="Product Description"  formControlName="description" class="form-control"/>
            <input name="Additional_info"  placeholder="Additional_info in form of key and value"  formControlName="Additional_info" class="form-control"/>
            <input name="colors"  placeholder="colors in form of array of strings"  formControlName="colors" class="form-control"/>
            <input name="category_name" type="select"  placeholder="category name"  formControlName="category_name" class="form-control"/>
            <button type="submit">Add Product</button>
        </form>
    </div>

    <div class="overlay-container-edit">
        <div class="overlay-add">
            <div class="overlay-panel overlay-right">
                <h1>Hello Admin!</h1>
                Enter the product information
            </div>
        </div>
    </div>
</div>
<script rel="jsvascript" href="../../../assets/js/add-product.js"></script>