<div class="breadcrumb container mt-3">
    <div class="breadcrumb-list d-flex align-items-center">
        <a href="" class="me-3">Home</a>
        <i class="fa-solid fa-chevron-right fa-lg me-3"></i>
        <a href="" class="me-3">Shop</a>
        <span class="vertical-line me-3"></span>
        <a href="" class="me-3">Asgaard sofa</a>
    </div>
</div>
<section class="product container mb-5">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="row justify-content-evenly justify-content-md-between">
                <div class="product-images col-3 col-lg-2">
                    <div class="text-center">
                        <img src="../../../assets/images/products/Asgaard sofa.png" alt="" />
                    </div>
                    <div class="text-center">
                        <img src="../../../assets/images/products/Maya sofa three seater.png" alt="" />
                    </div>
                    <div class="text-center">
                        <img src="../../../assets/images/products/Maya sofa three seater.png" alt="" />
                    </div>
                    <div class="text-center">
                        <img src="../../../assets/images/products/Maya sofa three seater.png" alt="" />
                    </div>
                </div>
                <div class="product-main-img col-8 col-md-9 text-center">
                    <img class="main-img" src="../../../assets/images/products/Maya sofa three seater.png" alt="" />
                </div>
            </div>
        </div>
        <div class="description col-sm-12 col-md-6 col-lg-5">
            <h2 class="product-header">Asgaard sofa</h2>
            <span class="price mb-5">EGP 250,000.00</span>
            <div class="rating row align-items-center mt-3">
                <div class="col-auto me-lg-3 me-sx-3">
                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                    <i class="primary-color fa-solid fa-star-half fa-lg"></i>
                </div>
                <span class="vertical-line col-auto px-0 me-md-4 me-sm-2"></span>
                <div class="rating-count col-auto">5 Customer Review</div>
            </div>
            <div class="product-description mt-3">
                Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs for a sound.
            </div>
            <div class="size mt-4">Size</div>
            <div class="mt-3 d-flex gx-1">
                <div class="select-size">
                    <input class="size-input" id="L" type="radio" name="size" value="L" />
                    <label for="L" class="size-label d-flex justify-content-center align-items-center me-3">L</label>
                </div>
                <div class="select-size">
                    <input class="size-input" id="XL" type="radio" name="size" value="XL" />
                    <label for="XL" class="size-label d-flex justify-content-center align-items-center me-3">XL</label>
                </div>
                <div class="select-size">
                    <input class="size-input" id="XS" type="radio" name="size" value="XS" />
                    <label for="XS" class="size-label d-flex justify-content-center align-items-center me-3">XS</label>
                </div>
            </div>
            <div class="color mt-4">Color</div>
            <div class="mt-3 d-flex gx-1 mb-3">
                <div class="select-color">
                    <input class="color-input" id="816DFA" type="radio" name="color" value="816DFA" />
                    <label for="816DFA" class="color-label d-flex justify-content-center align-items-center me-3" style="background-color: #816dfa"></label>
                </div>
                <div class="select-color">
                    <input class="color-input" id="000000" type="radio" name="color" value="000000" />
                    <label for="000000" class="color-label d-flex justify-content-center align-items-center me-3" style="background-color: #000000"></label>
                </div>
                <div class="select-color">
                    <input class="color-input" id="CDBA7B" type="radio" name="color" value="CDBA7B" />
                    <label for="CDBA7B" class="color-label d-flex justify-content-center align-items-center me-3" style="background-color: #cdba7b"></label>
                </div>
            </div>
            <div class="d-flex add-to-cart-container align-items-center mb-5">
                <div class="d-flex quantity-container me-3 h-100">
                    <button class="value-button d-flex justify-content-center align-items-center" id="decrease" value="Decrease Value" (click)="decQuantity()">-</button>
                    <input type="number" id="number" value="1" />
                    <button class="value-button d-flex justify-content-center align-items-center" id="increase" value="Increase Value" (click)="incQuantity()">+</button>
                </div>
                <button class="add-to-cart-button me-3 h-100" type="submit" value="Add To Cart"(click)="addToCartWithQuantity()" >Add to cart</button>
                <div class="like text-center">
                    <i class="fa-regular fa-heart fa-2xl"></i>
                </div>
            </div>
            <div class="d-flex horizontal-line mt-3 mb-5"></div>
            <div class="product-details d-flex flex-row">
                <div class="me-3">
                    <div class="detail-name mb-2">SKU</div>
                    <div class="detail-name mb-2">Category</div>
                    <div class="detail-name mb-2">Tags</div>
                </div>
                <div class="me-3">
                    <div class="detail-colon mb-2">:</div>
                    <div class="detail-colon mb-2">:</div>
                    <div class="detail-colon mb-2">:</div>
                </div>
                <div>
                    <div class="detail-value mb-2">SS001</div>
                    <div class="detail-value mb-2">Sofas</div>
                    <div class="detail-value mb-2">Sofa, Chair, Home, Shop</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid horizontal-line"></div>
<section class="product-information container mt-5">
    <div class="row justify-content-center mb-5">
        <div class="product-information-header col-md-3 col-sm-6 text-center">
            <button class="value-button js-selector h-100 w-100" id="product-information-description" style="color: rgb(0, 0, 0)">Description</button>
        </div>
        <div class="product-information-header col-md-3 col-sm-6 text-center">
            <button class="value-button js-selector h-100 w-100" id="product-information-additional">Additional Information</button>
        </div>
        <div class="product-information-header col-md-3 col-sm-6 text-center">
            <button class="value-button js-selector h-100 w-100" id="product-information-review">Reviews [5]</button>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="product-information-description col-10">
            Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering. Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio
            which boasts a clear midrange and extended highs for a sound that is both articulate and pronounced. The analogue knobs allow you to fine tune the controls to your personal preferences while the guitar-influenced leather strap
            enables easy and stylish travel.
            <section class="container mt-5">
                <div class="description-img-container row justify-content-evenly">
                    <div class="description-img col-md-5 col-12">
                        <img src="../../../assets/images/products/sofa1.png" alt="" srcset="" />
                    </div>
                    <div class="description-img col-md-5 col-12">
                        <img src="../../../assets/images/products/sofa2.png" alt="" srcset="" />
                    </div>
                </div>
            </section>
        </div>
        <div class="product-information-additional col-10 my-5">
            <div class="row">
                <div class="d-flex col-md-6 col-12">
                    <div class="me-3">
                        <div class="detail-name mb-2">SKU</div>
                        <div class="detail-name mb-2">Category</div>
                        <div class="detail-name mb-2">Tags</div>
                    </div>
                    <div class="me-3">
                        <div class="detail-colon mb-2">:</div>
                        <div class="detail-colon mb-2">:</div>
                        <div class="detail-colon mb-2">:</div>
                    </div>
                    <div>
                        <div class="detail-value mb-2">SS001</div>
                        <div class="detail-value mb-2">Sofas</div>
                        <div class="detail-value mb-2">Sofa, Chair, Home, Shop</div>
                    </div>
                </div>
                <div class="d-flex col-md-6 col-12">
                    <div class="me-3">
                        <div class="detail-name mb-2">SKU</div>
                        <div class="detail-name mb-2">Category</div>
                        <div class="detail-name mb-2">Tags</div>
                    </div>
                    <div class="me-3">
                        <div class="detail-colon mb-2">:</div>
                        <div class="detail-colon mb-2">:</div>
                        <div class="detail-colon mb-2">:</div>
                    </div>
                    <div>
                        <div class="detail-value mb-2">SS001</div>
                        <div class="detail-value mb-2">Sofas</div>
                        <div class="detail-value mb-2">Sofa, Chair, Home, Shop</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-information-review col-10">
            <div data-simplebar data-simplebar-auto-hide="false" class="scroll-bar px-3 py-3">
                <div class="review container px-md-5 px-2 py-md-5 py-2 mb-3">
                    <div class="row align-items-center">
                        <div class="col-3 col-md-1">
                            <div class="user-img d-flex">
                                <img src="../../../assets/images/users/user.jpg" alt="" srcset="" />
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col">User Name</div>
                                <div class="review-rating col d-flex align-items-center justify-content-end">
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-11 text-break">comment commentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcomment</div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-11 text-break">18 septemper</div>
                    </div>
                </div>
                <div class="review container px-md-5 px-2 py-md-5 py-2 mb-3">
                    <div class="row align-items-center">
                        <div class="col-3 col-md-1">
                            <div class="user-img d-flex">
                                <img src="../../../assets/images/users/user.jpg" alt="" srcset="" />
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col">User Name</div>
                                <div class="review-rating col d-flex align-items-center justify-content-end">
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-11 text-break">comment commentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcomment</div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-11 text-break">18 septemper</div>
                    </div>
                </div>
                <div class="review container px-md-5 px-2 py-md-5 py-2 mb-3">
                    <div class="row align-items-center">
                        <div class="col-3 col-md-1">
                            <div class="user-img d-flex">
                                <img src="../../../assets/images/users/user.jpg" alt="" srcset="" />
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col">User Name</div>
                                <div class="review-rating col d-flex align-items-center justify-content-end">
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                    <i class="primary-color fa-solid fa-star fa-lg me-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-11 text-break">comment commentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcommentcomment</div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-11 text-break">18 septemper</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid horizontal-line"></div>
<section class="related-products container my-5">
    <div class="text-center mb-2">
        <h2>Recent Products</h2>
    </div>
    <div class="row align-items-center justify-content-evenly py-5">
        <div class="col-lg-2 col-md-5 mb-3 product-card" *ngFor="let p of products.slice(4); let i = index;" >
          <app-product  [product]="p" ></app-product>
        </div>
       
    </div>
</section>