<div class="container-fluid horizontal-line mx-0"></div>
<section class="container mt-5">
    <div class="row justify-content-between align-items-center">
        <div class="col-3 location">400 University Drive Suite 200 Coral Gables,<span class="d-block location">FL 33134 USA</span></div>
        <div class="col-1">
            <div class="links-header mb-5">Links</div>
            <ul class="main-nav-list">
                <li class="mb-5">Home</li>
                <li class="mb-5">Shop</li>
                <li class="mb-5">About</li>
                <li class="mb-5">Contact</li>
            </ul>
        </div>
        <div class="col-2 align-self-start">
            <div class="links-header mb-5">Help</div>
            <ul class="main-nav-list">
                <li class="mb-5">Payment Options</li>
                <li class="mb-5">Returns</li>
                <li class="mb-5">Privacy Policies</li>
            </ul>
        </div>
        <div class="col-3 align-self-start">
            <div class="links-header mb-5">Newsletter</div>
            <div class="d-flex">
                <input type="email" name="" id="" placeholder="Enter Your Email Address" class="me-3 newsletter" style="min-width: 200px" />
                <input type="submit" value="SUBSCRIBE" class="newsletter" />
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="cl-auto my-5 ps-0">2022 Meubel House. All rights reverved</div>
    </div>
</section>