<div class="col-lg-2 col-md-5 mb-3 product-card">
    <img
      src="../../../assets/images/index/58e39805d460c4c63cccc8a518ca116f.png"
      style="width: 15rem; height: 15rem"
    />
    <div class="product-action">
      <a class="btn btn-outline-dark btn-square" ><i
              class="fa fa-shopping-cart"></i></a>
      <a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>
      <a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-search"></i></a>
  </div>
    <p>comfy bed</p>
    <h4>200,000$</h4>
  </div>