<div class="main_title">
    <img src="../../../assets/images/shop-main-rec.png" alt=""/>
    <div class="text-container">
      <div class="logo"><img src="../../../assets/images/Meubel House_Logos-05.png" alt=""/></div>
      <p class="shop_title">Shop</p>
      <div class="home_arrow">
        <p class="home">Home</p>
        <i class="fa-solid fa-chevron-right"></i> 
        <p class="shop" style="font-weight: 300;">shop</p>
      </div>
    </div>
  </div>
  <nav
    class="navbar navbar-expand-lg bg-light"
    style="background-color: rgba(250, 244, 244, 1) !important"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <i class="bi bi-sliders"></i>filter
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
               
                <!-- [category]="c" -->
                
                 <li *ngFor="let c of categories; let i = index" ><a class="dropdown-item"(click)="getProductByCategory(c.name)" >{{c.name}}</a></li>
                 <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul> 
          </li>
          <li class="nav-item">
            <a><i class="bi bi-three-dots-vertical"></i></a>
          </li>
          <li class="nav-item">
            <a><i class="bi bi-view-list"></i></a>
          </li>

          <li class="nav-item">
            <p class="results_number">showing 1-16 of 32 results</p>
          </li>
          <li>
            <div class="search-bar">
                <input type="text" placeholder="Search for products" [(ngModel)]="name">
                
            </div>
          </li>
        </ul>
        <div class="left-nav-side">
         <p>show</p> 
        <div class="number-box">
          <span>1</span>
        </div>
        <p>sort by</p> 
        <div class="sort-box">
          <span>default</span>
        </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="product-menu" style="margin-bottom: 15rem ;">
    <div *ngFor="let p of products  | filter:name" class="product">
      <img [src]="p.image" alt=""/>
      <p class="product-name">{{p.name}}</p>
      <p class="product-price">{{p.price}}</p>
    </div>
    
  </div>
  <div class="paymentFeatures">
    <div >
        <h2>Free Delivery</h2>
        <p> For all orders over $50,
             consectetur adipim scing elit</p>
    </div>
    <div>
        <h2>90 Days Return</h2>
        <p> If goods have problems, 
            consectetur adipim scing elit</p>
    </div>
    <div> 
        <h2>Secure Payment</h2>
        <p> 100% secure payment,
             consectetur adipim scing elit</p>
    </div>
</div>
