<div class="main_title" style="margin-bottom: 5rem;">
    <img src="../../../assets/images/shop-main-rec.png" />
    <div class="text-container">
      <div class="logo"><img src="../../../assets/images/logo.png" /></div>
      <p class="shop_title">Cart</p>
      <div class="home_arrow">
        <p class="home">Home</p>
        <i class="bi bi-chevron-right" ></i>
        <p class="shop" style="font-weight: 300;">Cart</p>
      </div>
    </div>
  </div>
<!-- Cart Start -->

<div class="cartDetails"> 
<div class="cartLine" >
  <table>
         
    <tr class="theadcart">
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>SubTotal</th>
      <th>Remove</th>
     
    </tr>
  
    <tr *ngFor="let item of cartItems; let i = index">
        <td class="productDetailsCart" *ngFor="let item of cartItems; let i = index">
           <img src="../../../assets/images/{{item.image}}" alt="" class="productImageCart"> 
           {{item.name}}</td>
        <td>{{item.price}}</td>
        <td class="quantityCart"><button>{{item.Quantity}}</button></td>
        <td>Rs. 250,000.00</td>
        <td class="deleteCartLine" (click)="removeItem(i)"><i class="fa-solid fa-trash"></i></td>
      </tr>
   
      <tr>
          <td class="productDetailsCart"> 
            <img src="../../../assets/images/Asgaard sofa.png" alt="" class="productImageCart"> 
            Asgaard sofa</td>
        <td>Rs. 250,000.00</td>
        <td class="quantityCart"><button>1</button></td>
        <td>Rs. 250,000.00</td>
        <td class="deleteCartLine"><i class="fa-solid fa-trash"></i></td>
      </tr>
  
  </table>
  </div>
  <div class="cartSummary">
    <h1>Cart Totals</h1>
   <div class="subtotal">
       <h3>SubTotal</h3>
       <h4>Rs. 250,000.00</h4>
   </div>
   <div class="total">
       <h3>Total</h3>
       <h4>Rs. 250,000.00</h4>
   </div>
<button>Check Out</button>

 </div>
</div>

<!--<app-features></app-features>-->
