<div class=" subHeader">
    <img src="../../../assets/images/image.jpg" alt="" class="subHeaderImage">
<div class="logo">
    <img src="../../../assets/images/logo.png" alt="">
    <h1>Cart</h1>
</div>
<div class="path">
    <h3>Home</h3>
    <span><i class="fa-solid fa-chevron-right"></i> </span>
    <h4>Cart</h4>
</div>
</div>
<!-- Cart Start -->
<div class="cartDetails">
<div class="cartLine" >
        <table>
         
            <tr class="theadcart">
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>SubTotal</th>
              <th>Remove</th>
             
            </tr>

            <tr>
                <td class="productDetailsCart">
                   <img src="../../../assets/images/Asgaard sofa.png" alt="" class="productImageCart"> 
                   Asgaard sofa</td>
                <td>Rs. 250,000.00</td>
                <td class="quantityCart"><button>1</button></td>
                <td>Rs. 250,000.00</td>
                <td class="deleteCartLine"><i class="fa-solid fa-trash"></i></td>
              </tr>
           
              <tr>
                  <td class="productDetailsCart"> 
                    <img src="../../../assets/images/Asgaard sofa.png" alt="" class="productImageCart"> 
                    Asgaard sofa</td>
                <td>Rs. 250,000.00</td>
                <td class="quantityCart"><button>1</button></td>
                <td>Rs. 250,000.00</td>
                <td class="deleteCartLine"><i class="fa-solid fa-trash"></i></td>
              </tr>
          
        </table>
      
  </div>
  <div class="cartSummary">
     <h1>Cart Totals</h1>
    <div class="subtotal">
        <h3>SubTotal</h3>
        <h4>Rs. 250,000.00</h4>
    </div>
    <div class="total">
        <h3>Total</h3>
        <h4>Rs. 250,000.00</h4>
    </div>
<button>Check Out</button>

  </div>
</div>
<div class="paymentFeatures">
<div >
    <h2>Free Delivery</h2>
    <p> For all orders over $50,
         consectetur adipim scing elit</p>
</div>
<div>
    <h2>90 Days Return</h2>
    <p> If goods have problems, 
        consectetur adipim scing elit</p>
</div>
<div> 
    <h2>Secure Payment</h2>
    <p> 100% secure payment,
         consectetur adipim scing elit</p>
</div>
</div>
